@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  min-height: 100%;
  overflow-x: hidden;
  width: 100%;
  font-family: Pretendard-Regular;
}

body {
  min-height: 100%;
  width: 100%;
}

@font-face {
  font-family: Pretendard-Regular;
  src: url('../public/static/fonts/Pretendard-Regular.woff2') format('woff2');
}

@font-face {
  font-family: Pretendard-Bold;
  src: url('../public/static/fonts/Pretendard-Bold.woff2') format('woff2');
}

@font-face {
  font-family: Pretendard-ExtraBold;
  src: url('../public/static/fonts/Pretendard-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: Pretendard-Light;
  src: url('../public/static/fonts/Pretendard-Light.woff2') format('woff2');
}

@font-face {
  font-family: Pretendard-ExtraLight;
  src: url('../public/static/fonts/Pretendard-ExtraLight.woff2') format('woff2');
}

@font-face {
  font-family: Pretendard-Medium;
  src: url('../public/static/fonts/Pretendard-Medium.woff2') format('woff2');
}

@font-face {
  font-family: Pretendard-Semibold;
  src: url('../public/static/fonts/Pretendard-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: Pretendard-Thin;
  src: url('../public/static/fonts/Pretendard-Thin.woff2') format('woff2');
}
